<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>e-南邮</title>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>电子对账单</el-header>
        <el-row>
            <div style=" text-align: center;line-height: 100px;">
                <el-button type="primary" round v-on:click="getUsers" style="width: 130px;bottom: 20%">查询</el-button>
            </div>
        </el-row>

        <el-main style="position: fixed ; width: 100%;top:24%; ">
            <template>
                <el-table
                        :data="tableData"
                        style="width: 100%">
                    <el-table-column
                            property="id"
                            label="ID"
                    >
                    </el-table-column>
                    <el-table-column
                            property="username"
                            label="用户名"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="wechat"
                            label="微信号"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="workerKd"
                            label="累计快递(单)"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="workerWm"
                            label="累计外卖(单)"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="workerDay"
                            label="跑操接单总天数(天)"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="workMoney"
                            label="累计盈利(元)"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="myMoney"
                            label="需缴平台金额(元)"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="giveMoney"
                            label="实际缴纳(元)"
                    >
                    </el-table-column>

                    <el-table-column
                            prop="qk"
                            label="欠款(元)"
                    >
                        <template slot-scope="scope">
                            {{getChangeType(scope.row.myMoney,scope.row.giveMoney)}}
                        </template>
                    </el-table-column>

                    <el-table-column label="操作" width="200">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="primary"
                                    @click="handleEdit(scope.$index, scope.row)">录入实际缴纳
                            </el-button>
                        </template>
                    </el-table-column>

                </el-table>
                <div class="Pagination" style="text-align: left;margin-top: 10px;">
                    <el-pagination
                            style="margin-top:15px;"
                            background
                            layout="prev, pager, next"
                            :current-page.sync="pagination.current"
                            :page-size.sync="pagination.size"
                            :total="pagination.count"
                            @current-change="handleCurrentChange">
                    </el-pagination>
                </div>
            </template>


        </el-main>
    </el-container>
</div>
<div class="foot">京ICP备20013876<br>@laughing 2020 - 2020</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                form: {},
                tableData: [{
                    registe_time: '2016-05-02',
                    username: '王小虎',
                    city: '上海市普陀区金沙江路 1518 弄'
                }],
                pagination: {
                    current: 1,
                    size: 5,
                    count: 0,
                    orderby: ''  //升降序
                },
                options3: [{
                    value: '1',
                    label: '审核通过'
                }, {
                    value: '0',
                    label: '待审核'
                }],
                update: {
                    id: '',
                    state: '',
                    name: '',
                    cityCode: '',
                    phone: '',
                    rule: '',
                    birthday: '',
                    birthdayState: ''
                },
                dialogFormVisibleUpdate: true
            };
        },
        created() {
            this.initData();
        },
        methods: {
            async initData() {
                try {
                    this.getUsers();
                } catch (err) {
                    console.log('获取数据失败', err);
                }
            },
            async getUsers() {
                var that = this;
                $.ajax({
                    url: "https://laughing-blog.cn/worker/getAllUser/" + this.pagination.current + "/5/",
                    type: "get",
                    success: function (res) {
                        console.log(res);
                        that.tableData = res.records;
                        that.pagination.current = res.current;
                        that.pagination.size = res.size
                        that.pagination.count = res.total
                    },

                })
            },
            handleCurrentChange(val) {
                this.pagination.current = val;
                this.getUsers(this.pagination.current)
            },
            handleEdit(index, row) {
                console.log(index)
                console.log(row)

                var m = prompt("累计实际缴纳金额", "")
                if (m != null && m != "") {

                    $.ajax({
                        url: "https://laughing-blog.cn/order/lr/" + row.id + "/" + m + "/" + row.workerKd + "/" + row.workerWm + "/" + row.workerDay + "/" + row.workMoney + "/" + row.myMoney,
                        type: "get",
                        success: function (res) {
                            console.log(res);

                        },

                    })

                }

            },
            getSelectItemData(row) {
                console.log(row);
                this.update.name = row.name;
                this.update.cityCode = row.cityCode;
                this.update.phone = row.phone;
                this.update.id = row.id;
                this.update.state = row.state;
                this.update.rule = row.rule;
                this.update.birthday = row.birthday;
                this.update.birthdayState = row.birthdayState;
            },
            // 审核
            up(id, state) {
                var url = ''
                if (state) {
                    var url = "https://laughing-blog.cn/worker/turn/on/" + id
                }
                if (!state) {
                    var url = "https://laughing-blog.cn/worker/turn/off/" + id
                }
                $.ajax({
                    url: url,
                    type: "get",
                    success: function (res) {
                        console.log(res);

                    },
                })
            },
            getChangeType3(e) {
                for (var i = 0; i < this.options3.length; i++) {
                    if (this.options3[i].value == e) {
                        return this.options3[i].label;
                    }
                }
            },
            getChangeType(a,b) {
                return a-b;

            },
        }
    })
</script>
<style>
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://api.dujin.org/bing/1920.php) 0px 0px no-repeat;
    }

    header {
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        line-height: 100px;
    }

    .el-form-item__label {
        color: #ffffff;
    }


    .app-block {
        width: 28%;
        margin: 0 auto;
        text-align: center;
        padding: 3em 5em;
        height: 80%;
    }

    .foot {

        color: white;
        font-size: 14px;
        position: fixed;
        bottom: 8%;
        left: 45%;
    }
</style>
</html>
